* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

html {
	position: relative;
	background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("/assets/party.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: auto;
	margin: auto;
	text-align: center;
	color: white;
	font-family: Helvetica, cursive;
	text-shadow: 2px 2px 5px black;
	font-size: 22px;
}

h1 {
	font-family: 'Satisfy', Helvetica, cursive;
	margin-top: 50px;
	font-size: 60px;
}

input, button {
	margin: 0.5em;
	border: 0;
	padding: 10px;
	font-size: 22px;
	color: black;
	background-color: white;
	opacity: 0.8;
}

button {
	background: red;
	color: white;
}

ul {
	list-style-type: none;
	text-align: left;
	margin-top: 5px;
}

li {
	margin-bottom: 5px;
}

#contenedor {
	position: relative;
	width: 100%;
	height: 100%;
}

#payments {
	font-size: 20px;
	text-align: left;
	padding-left: 50px;
}