
html {
	background: url("../imagenes/party.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-color: black;
	background-size: cover;
	color: white;
	font-family: Helvetica;
	font-size: 28px;
	text-align: center;
	vertical-align: middle;
}

input {
	margin: 0.5em;
	border: 0;
	padding: 10px;
	font-size: 28px;
	color: black;
	background-color: white;
	opacity: 0.8;
}

button {
	margin: 1em;
	border: 0;
	padding: 10px;
	font-size: 28px;
	background: red;
	color: white;
}

div {
	background-color: #547980;
	border-radius: 5px;
	border: 1px solid black;
	padding:1% 0;	
	vertical-align: middle;
}

#contenedor{
	position: relative;
	width: 100%;
	height: 100%;
}

form {
	display: inline-block;
	border-radius: 5px;
	border: 1px solid black;
	width: 500px;
}

#resultado{
	display: inline-block;
	background-color: #540000;
	position: relative;
	width: 500px;
}

#total, #listado{
	/*position: relative;*/
	text-shadow: 2px 2px 5px black;
}